
.wrap-edit {
  background-image: url("../../Images/business.jpeg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.edit-form {
  width: 40%;
  margin-top: 129px;

  /* margin-left: 40%; */
  background-color: turquoise;
  padding:30px;

}

input {
  text-align: center;

  width: 50%;
}



@media only screen and (max-width: 800px) {

.edit-form{
  width: 300px;
}

.car-edit-form-a{
  width: 300px;
}

}

