.expense-details {
  font-size: large;
  margin-top: 10%;
  background-color: lightblue;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.car-make {
  font-size: x-large;
  font-weight: bold;
}
