.car-details {
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5%;
  position: absolute;
  z-index: 12;
}
div.wrapper {
  margin: 0;
  padding: 0;
}
div.card.text-center {
  height: 900px;
}
.contain-ul {
  /* display: flex;
    justify-content: center; */
  padding-left: 30%;
  width: 100%;
}

ul.ul-choicesb {
  background-color: white;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-left:10%; */
  margin-top: 3%;
  position: sticky;
  /* margin-bottom: 20%; */
}
div.cars-div {
  margin-top: 0;

  width: 100%;
  background-color: white;
  margin: 0;
  padding-top: 0;

  height: 900px;
}

.choicesb {
  border: rgb(231, 227, 227) solid 0.5px;
  height: 120px;
  width: 80px;

  font-family: "Allerta Stencil", sans-serif;
  outline: #b8d8ba solid 2px;
}

.choicesb:hover {
  border-bottom: limegreen solid 2px;
  outline: red solid 0.5px;
}
.cars-new-button {
  border: none;
  color: rgb(58, 45, 45);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  background-color: transparent;
}
div.choicesb a {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
}
div.choicesb-car a {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
}
div.choicesb-car a {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
}
div.choicesb a:link {
  color: #333;
}
div.choicesb div {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
}

div.choicesb-car a:link {
  color: #333;
}
div.choicesb a svg {
  color: rgb(26, 105, 101);
}

li:nth-child(2) a svg {
  color: rgb(233, 47, 0);
}
li:nth-child(3) a svg {
  color: rgb(29, 26, 26);
}

div.gren {
  background-color: rgb(17, 138, 128);
  height: 110px;
  width: 60%;
  border-radius: 3%;
  margin-left: 30%;
  text-align: left;
  padding: 21px;
}
.gren > p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 16px;
}
div.whit {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 130px;
  width: 60%;
  border-radius: 3%;
  margin-left: 30%;
  text-align: left;
  color: rgb(97, 87, 87);
  padding: 21px;
}

.toggle-form {
  margin-right: 44%;
}
.li-choicesb {
  height: 100px;
}
/* ul.ul-choicesb{
    height: 200px;
    margin:0;
    padding:0;
} */
div.image {
  width: 50%;
}
.concar {
  align-self: center;
  /* margin-left: 23%; */
}

/* The container <div> - needed to position the cdropdown content */
div.cdropdown {
  position: relative;
  display: inline-block;
  width: 100px;
  margin-left: 16px;
}
div.cdropdown:hover {
  position: relative;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

/* cDropdown Content (Hidden by Default) */
.cdropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 110px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the cdropdown */
.cdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of cdropdown links on hover */
.cdropdown-content a:hover {
  background-color: #ddd;
}

/* Show the cdropdown menu on hover */
.cdropdown:hover .cdropdown-content {
  display: block;
}

/* Change the background color of the cdropdown button when the cdropdown content is shown */
.cdropdown:hover .cdropbtn {
  background-color: #3e8e41;
}

.car-section {
  display: flex;
  flex-direction: row-reverse;
  /* flex: column; */
  /* align-items: center; */
  /* margin-left: 30%; */
  /* padding-left: 35%; */
  padding-top: 1%;
  /* border:black solid 4px; */
  padding-right: 6%;
  padding-left: 21%;
  margin-left: 7%;
  width: 90%;
  /* margin-right: 10%; */
  /* justify-content: center; */
}

.concar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  /* border:pink solid 4px; */
  /* margin-left:2%; */
  /* margin-top:80px;
  padding-top:6%;
 */
  /* margin-left:100px; */

  margin-right: 25px;
}

.concar {
  transform: rotateY(10deg);
  animation: rotateAnimation 5s cubic-bezier(0.1, 0.7, 1, 0.1);
  animation-direction: normal;
  animation-delay: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(10deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

div.edit,
div.delete {
  font-size: 10px;
}

div.all-bs {
  display: flex;
  width: 292px;
  justify-content: space-between;
  position: absolute;
  z-index: 77;
  /* margin-left:8%; */
  margin-top: 400px;
}

button.button-delete {
  background-image: url("../Images/delbutton.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 85px;
  width: 85px;
  box-shadow: transparent;
  outline: transparent;
  border: transparent;
}
button.button-delete:hover {
  background-image: url("../Images/pressD.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 85px;
  width: 85px;
  box-shadow: transparent;
  outline: transparent;
  border: transparent;
}

button.button-edit {
  background-image: url("../Images/Edit.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 85px;
  width: 85px;
  box-shadow: transparent;
  outline: transparent;
  border: transparent;
}

button.button-edit:hover {
  background-image: url("../Images/pressE.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 85px;
  width: 85px;
  box-shadow: transparent;
  outline: transparent;
  border: transparent;
}

button.b-delete,
button.b-edit {
  /* background-color: rgb(76, 72, 72); */
  /* box-shadow: black; */
  font-size: 12px;
  /* text-align: center;
  color:white; */
}

button.b-edit:hover {
  color: white;
}
button.b-delete:hover {
  /* box-shadow:transparent; */
  color: white;
  /* background-color: red; */
}

.nav-expenses {
  background-color: wheat;

  display: flex;
  justify-content: center;
  color: white;
  width: 200px;
  height: 78px;
  background-color: rgb(247, 247, 247);
  /* margin-left: 3%; */
  padding: 6px;
  align-items: center;
  /* margin-bottom: 20px;
  background-image: linear-gradient(rgb(48, 48, 130), rgb(121, 118, 161)); */
  /* background-image: linear-gradient(180deg, rgb(82, 99, 130), rgb(40, 40, 94)); */
  background-image: linear-gradient(
    rgb(42, 39, 39) 2%,
    rgb(29, 29, 43) 10%,
    rgb(36, 42, 64) 55%,
    rgb(6, 6, 13) 97%,
    rgb(62, 62, 69) 99%
  );
  /* border:solid rgb(182, 185, 188) .02px; */
  outline: solid rgb(139, 125, 125) 1.5px;
  border-radius: 25px;
  border-left: rgb(45, 62, 72) 0.1px solid;
  border-right: rgb(40, 49, 55) 2px solid;
}

.nav-expenses:hover {
  height: 55px;
  width: 200px;
  /* margin-bottom: 20px;
  background-image: linear-gradient(rgb(48, 48, 130), rgb(121, 118, 161)); */
  /* background-image: linear-gradient(180deg, rgb(82, 99, 130), rgb(40, 40, 94)); */
  background-image: linear-gradient(
    rgb(37, 37, 57) 10%,
    rgb(24, 26, 32) 55%,
    rgb(8, 8, 9) 97%,
    rgb(36, 36, 55) 99%
  );
  /* border:solid rgb(182, 185, 188) .02px; */
  outline: transparent;
  border-radius: 25px;
  border-left: transparent;
  border-right: transparent;

  cursor: pointer;
}

div.nav-expenses > a {
  color: white;
}
.nav-expenses > p {
  font-size: 12px;
  padding: 0;
  margin: 0;

  /* font-weight: lighter; */
}
.nav-expenses > a:link {
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: white;
}
.nav-expenses > a:active {
  font-size: 12px;
  padding: 0;
  color: lime;
  margin: 0;
}

div.nav-expenses > p.total {
  font-family: "Orbitron", sans-serif;
  color: white;
}

div.nav-expenses > button {
  color: white;
}
.nav-expenses > p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.nav-expenses > button {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.deets {
  /* margin-left: 1%; */
  font-size: 24px;
  margin-top: 11px;
  /* margin-bottom:400px; */
  /* position:fixed; */
  /* margin-top:30px; */
}
button.b-delete {
  background-image: url("../Images/delbutton.png");
}
.odo-mileage {
  background-image: url("../Images/odo.PNG");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding-top: 112px;
  /* margin-right:27%; */
  z-index: 88;
  /* position: absolute; */
  width: 300px;
  /* margin-top:6px; */
  /* margin-bottom:400px; */
  /* margin-left: 6%; */
  font-size: 22px;
}
.odo-mileage > .total-odo {
  font-family: "Orbitron", sans-serif;
  color: lime;
  background-color: rgb(52, 50, 50);
  font-size: 20px;
  width: 80%;
  border-radius: 12px;
  padding-bottom: 28px;
  height: 21px;
  border: lime solid 0.5px;
}
.odo-mileage > .total-odo > #text {
  padding: 7px;
}

.right-nav {
  height: 70%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-repeat: no-repeat; */
  overflow-x: hidden;
  /* padding-top: 7px; */
  border: solid rgb(221, 221, 221) 0.5px;
  /* margin:0;
  display:flex; */
  flex-direction: column;

  /* margin-left: 80px;
  margin-right: 220px; */
  margin-top: 9%;
  /* padding-top: 5%; */
  align-items: center;
  background-color: black;
}

.odo-deets {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 6%;
}
.chrome {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmZfP9x5lnYgRR8RY6vAHDJ4atvhIQHOdiZxgelIeUtmtShMBQyAant0w70WR-2lOQgOo&usqp=CAU");
  background-size: containr;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  padding-top: 7%;
  margin-bottom: 16px;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  height: 80px;
}



.all-expenses{
  background-color: black;
  color:white;
  width: 300px;
  display:flex;
}