.cars-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mint-box{
  height: 220px;
  background-image: linear-gradient(
    to right,
    rgba(156, 234, 222, 0),
    rgba(156, 234, 222, 1)
  )
}