/* .table-data{
    font-size: 20px;
}
.table-p{
    font-size: 20px;
}
.table-expense{
    border: solid .5px darkgrey;
    margin-top:6%;
}
.table-expense>th{
    border: solid .5px darkgrey;

}
th.th-expense{
    border: solid 1px grey;
    padding:0;
    width: 20%;
} */

div.main-e-div{
    margin-top:2%;
    padding-top:10%;
}
.head-row{
    font-weight: 400;
    /* text-decoration-line: underline ; */
}
.expenses-main-table{
    margin-left:5%;
    width: 85%;
}
.head-row > th>h2{
    font-size: 18px;
}
tr.head-row {
    background-color:grey;

}